firebase_admin
click==8.0.3
Flask==2.0.2
google-cloud==0.34.0
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
Werkzeug==2.0.2
Flask-Session==0.4.0
Flask-WTF==0.15.1
WTForms==2.3.3
email_validator==1.1.3
