{% extends "base.html" %} {% block content %}
<div class="container mt-4 text-center mx-auto">
    <h1>Browse Available Pets</h1>
    <div class="w-75 mx-auto container">
        <p class="lead">These are the pets we currently have available for adoption. </p>
    
    
            <!-- This is a diplay for testing only. Can be removed when code is merged. -->
            {% for pet in pets %}
            <tr>
                <td>{{pet}}</td>
                <br>
                <br>
            </tr>
            {% endfor %}
            <!--  -->
    
    
    
    </div>
</div>


{% endblock content %}