{% extends "base.html" %} 
{% block content %}
<div class="container mt-5 mx-auto">
    <h2 class="text-center"> Animal Info </h2>
    <div class="container mx-auto">
        <div class="row">
            <div class="col-5">
                <img src="{{pet_data.image}}" alt="pet image" class="img-thumbnail" style="max-width:90%;max-height: fit-content">
                <p class="lead text-center">Say hello to {{ pet_data.name }}! Will you adopt them today?</p>
            </div>
            <div class="col-7 mt-3">
                <div class="row">
                    <div class="col-3">
                        <p class="text-info"><strong>Name</strong></p>

                    </div>
                    <div class="col-8">
                        <p class="text-left">{{ pet_data.name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="text-info"><strong>Availability</strong></p>

                    </div>
                    <div class="col-8">
                        <p class="text-left">{{ pet_data.availability|title }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="text-info"><strong>Type</strong></p>

                    </div>
                    <div class="col-8">
                        <p class="text-left">{{ pet_data.animal_type|title }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="text-info"><strong>Breed</strong></p>
                    </div>
                    <div class="col-8">
                        <p class="text-left">{{ pet_data.breed|title }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="text-info"><strong>Disposition</strong></p>
                    </div>
                    <div class="col-8">
                        <p class="text-left">
                            {% for item in pet_data.disposition %} 
                                {{ item|title}}{% if not loop.last %}, {% endif %} 
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="text-info"><strong>Date Created</strong></p>
                    </div>
                    <div class="col-8">
                        <p class="text-left">{{ pet_data.date_created.strftime('%Y-%m-%d') }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="text-info"><strong>Description</strong></p>
                    </div>
                    <div class="col-8">
                        <p class="text-left">{{ pet_data.description }}</p>
                    </div>
                </div>
                {% if session['user'] %}
                    <p class="text-left mt-2 ml-4">
                    {% if session['user']['is_admin'] == True %}
                        <a href="/pets/{{pet_data.id}}/edit" class="btn btn-info"> Update Pet Info</a>
                        <a href="/pets/{{pet_data.id}}/delete" class="btn btn-danger"> Delete Pet</a>
                    {% else %}
                        {% if pet_data.availability == 'adopted' %}
                        <a class="btn btn-info mt-4 text-center disabled">This pet has been adopted</a>
                        {% elif pet_data.availability == 'pending' %}
                        <a class="btn btn-info mt-4 text-center disabled">This pet's adoption is pending</a>
                        {% elif pet_data.availability == 'not available' %}
                        <a class="btn btn-info mt-4 text-center disabled">This pet is unavailable</a>
                        {% else %}
                            <button id="adopt-btn" class="btn btn-info mt-4 text-center">Adopt Me Today!</button>                      
                        {% endif %}
                    </p>
                    {% endif %}
                {% else %}
                <p class="lead mt-5">Interested? <a href="{{ url_for('signup') }}">Sign Up</a> today or <a href="{{ url_for('login') }}">login</a> to begin the adoption process.</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% block javascript %}
    <script src="{{url_for('static', filename='scripts/adoptpet.js')}}"></script>
    {% endblock %}

    {% endblock content %}