{% extends "base.html" %} {% block content %}
<div class="container mt-5 mx-auto">
    <h2 class="text-center"> Animal Info </h2>
    <div class="container mx-auto">
        <div class="row">
            <div class="col-5">
                <img src="{{pet_data.image}}" alt="pet image" class="img-thumbnail" style="max-width:90%;max-height: fit-content">
                <p class="lead text-center">Say hello to {{ pet_data.name }}! Will you adopt them today?</p>
            </div>
            <div class="col-7 mt-3">
                <div class="row">
                    <div class="col-3">
                        <p class="text-info"><strong>Name</strong></p>

                    </div>
                    <div class="col-8">
                        <p class="text-left">{{ pet_data.name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="text-info"><strong>Availability</strong></p>

                    </div>
                    <div class="col-8">
                        <p class="text-left">{{ pet_data.availability }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="text-info"><strong>Type</strong></p>

                    </div>
                    <div class="col-8">
                        <p class="text-left">{{ pet_data.animal_type }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="text-info"><strong>Breed</strong></p>
                    </div>
                    <div class="col-8">
                        <p class="text-left">{{ pet_data.breed }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="text-info"><strong>Disposition</strong></p>
                    </div>
                    <div class="col-8">
                        <p class="text-left">{{ pet_data.disposition }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="text-info"><strong>Date Created</strong></p>
                    </div>
                    <div class="col-8">
                        <p class="text-left">{{ pet_data.last_update }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="text-info"><strong>Description</strong></p>
                    </div>
                    <div class="col-8">
                        <p class="text-left">{{ pet_data.description }}</p>
                    </div>
                </div>
                <p class="text-left mt-2 ml-4">
                    <a href="/" class="btn btn-info"> Update Pet Info</a>
                    <a href="/" class="btn btn-danger"> Delete Pet</a>
                </p>
            </div>
        </div>
    </div>


    {% endblock content %}